@model MVC5_StokTakip.Models.Entity.TBLURUNLER

@{
                /**/

                ViewBag.Title = "Yeni Ürün Ekleme";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form class="form-group" method="post">
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="URUNAD" required="Bu alan boş bırakılamaz!" maxlength="50" />
    </div>
    <div>
        <label>Ürün Markası:</label>
        <input type="text" class="form-control" name="URUNMARKA" required="" />
    </div>
    <div>
        <label>Ürün Kategorisi:</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div>
        <label>Ürün Fiyatı:</label>
        <input type="text" class="form-control" name="URUNFIYAT" required="" />
    </div>
    <div>
        <label>Ürün Adeti:</label>
        <input type="text" class="form-control" name="URUNSTOKADET" required="" />
    </div>
    <div>
        <button class="btn btn-info" style="margin-top:10px;" id="btnEkle">Ekle</button>
    </div>

    <script>
        $('#btnekle').click(function () {
            alert('Ürün Ekleme İşlemi Başarılı');
        });
    </script>
</form>

