
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label>Ürün Markası:</label>
        <input type="text" class="form-control" name="URUNMARKA" />
    </div>
    <div>
        <label>ürün kategorisi:</label>
        <input type="text" class="form-control" name="urunkategorı" />
    </div>
    <div>
        <label>ürün fiyatı:</label>
        <input type="text" class="form-control" name="urunfıyat" />
    </div>
    <div>
        <label>ürün adeti:</label>
        <input type="text" class="form-control" name="urunstokadet" />
    </div>
    <div>
        <button class="btn btn-info">Ekle</button>
    </div>
</form>

