
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı:</label>
        <input type="text" class="form-control" name="KATEGORIAD"/>
    </div>
    <a class="btn btn-primary">Ekle</a>
</form>
