@using MVC5_StokTakip.Models.Entity
@model List<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>
<table class="table ">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {

        <tr>
            <td>@ktgr.KATEGORIID</td>
            <td>@ktgr.KATEGORIAD</td>
            <td><a class="btn btn-danger" href="/Kategori/Sil/@ktgr.KATEGORIID">Sil</a></td>
            <td><a class="btn btn-primary" href="/Kategori/KategoriGetir/@ktgr.KATEGORIID">Güncelle</a></td>
        </tr>

        }
    </tbody>
</table>

<a class="btn btn-warning" href="/Kategori/Ekle">Yeni Kategori Ekle</a>

