@using MVC5_StokTakip.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table ">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {

        <tr>
            <td>@ktgr.KATEGORIID</td>
            <td>@ktgr.KATEGORIAD</td>
            <td><a class="btn btn-danger" href="/Kategori/Delete/@ktgr.KATEGORIID">Sil</a></td>
            <td><a class="btn btn-primary" href="/Kategori/Update/@ktgr.KATEGORIID">Güncelle</a></td>
        </tr>

        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))

<a class="btn btn-warning" href="/Kategori/Ekle">Yeni Kategori Ekle</a>

