
@{
    ViewBag.Title = "YeniKategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-control" method="post">
    <div>
        <label>Kategori Adı:</label>
        <input type="text" class="form-control" name="KATEOGRIAD"/>
    </div>
    <div>
        <button class="btn btn-info">Ekle</button>
    </div>
</form>

